.container {
  font-size: 1.2rem;
  line-height: 1.5em; 
  text-align: justify;
}

.box {
  background-color: #CCC;
  border: 1px solid red ;
}

.box2 {
  margin:2%;
}

.box3 {
  padding: 1% 2%;
}

.box4 {
 border: 2px solid red;
 padding: 1% 2%;
}

.box5 {
  margin:2%;
  border: 2px solid;
  padding: 1% 2%;
  height:60%;
}

.box6 {
  margin:2%;
  border: 2px solid;
  padding: 1% 2%;
  height:60%;
  box-sizing: border-box;
}


header .box4 .box5 .box6 {
  border: 1 ;
}